.header-div {
	margin-top: 100px;
	text-align:center;
}

.header-img {
	width: 100px;
	height: 100px;
}

.nickname-div {
	margin-top: 10px;
	text-align: center;
}

.signin {
	margin-top: 50px;
}

.line-top {
	margin-top: 10px;
}

.qiandoliji {
	margin-top: 30px;
	margin-bottom: 50px;
}